asgiref
crispy-bootstrap5
crispy-forms-gds
distlib
dj-database-url
Django==5.0.6
django-crispy-forms
django-environ
django-filter
djangorestframework
environ
filelock
Markdown
MouseInfo
mysql-connector-python
pillow
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
typing_extensions
tzdata
virtualenv
